{% extends "Layout_Main.html" %}
{% block content %}


	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				
				<div id="sidebar">
					<ul>
						
						
						<li>
							<!--<h2>VISA INFORMATION</h2>-->
							<ul>
								<li><a onclick="openCity(event, 'overview')" id="defaultOpen">Overview</a></li>
							</ul>
						</li>
						
						
					</ul>
				</div>
				<!-- end #sidebar -->
				<div id="mainpage" >
                    &nbsp;
                     <div class="right_area" id="overview">
                        <div class="right_bar_inner" id="overview" style="color: white"><h3 style="color: white">
                            <u>Overview</u></h3></div><br>
                       <p>Visa Seekers entering UAE are required to have a valid  national passport
with a valid visa obtained from an UAE Embassy board. You  are requested
to apply for the UAE Visa through Online application link .</p>

<p>You can apply for a visa if you want to visit the UAE:</p>
   <li>                    
	for leisure, for example on holiday or to see your family and friends</li>  
                             
                <li>  
	for business, or to take part in sports or creative events</li>  
            <li>  
	for another reason, for example to receive private medical treatment</li>  

</div>
                </div>
                <!-- end #mainpage -->
            </div>
		</div>
	</div>



{% endblock %}